<div class="row">
    <div class="col-md-3">
        <app-den-list class="dontPrint"></app-den-list>
    </div>
    <div class="col-md-9 print">
        <router-outlet></router-outlet>
    </div>
</div>




























<!-- <div class="container mt-5" style="width: 900px;">
    <div class="row ">
        <div class="col  col-xs-12">
            <a routerLink="/kasaisp" type="button" class="btn btn-primary btn-lg btn-block">Каса Исплати</a>
        </div>
    </div>    
    <div class="row den-kasa-btn">
        <div class="col col-xs-12">
            <a routerLink="/kasaprim" type="button" class="btn btn-primary btn-lg btn-block">Каса Прими </a>
        </div>
    </div>    
    <div class="row den-kasa-btn">
        <div class="col col-xs-12">
            <a  type="button" class="btn btn-primary btn-lg btn-block">Касов Извод</a>
        </div>
    </div> 
</div> -->